<%- include ("./partials/header") %>

<div class="container-full-bg">
    <div class="jumbotron jumbo-custom-2 text-white text-center">
        <h1><i class="fas fa-campground fa-2x"></i></h1>
        <h1 class="text-bold">About Us</h1>
        <p class="">Welcome to 
            <span class="text-bold p-l">
                <strong>
                    YelpCamp's
                </strong>
                    Creators 
            </span> 
            page.
        </p>
    </div>    
</div>
    
    <!-- <h2 class="">Our Creators</h2>
    <div class="row" style="display:flex;  flex-wrap : wrap">
            <div class="col-lg-4 mt-4 creator-card">
                <div class="card frosted-card -white"  style="display:flex;  flex-wrap : wrap">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5itV94ybzt7hx7-ge1RcY1BOpwgDhTijDsA&usqp=CAU" alt="Card image cap">
                        <div id="card-body" class="card-body">
                            <h5 class="card-title ">Colt Steele</h5>
                            <p class="card-">Senior Web Developer, Instructor</p>
                            <a href="/aboutUs/creator" class="btn btn-outline-info">View More</a>
                        </div>
              </div>
            
            </div>
            <div class="col-lg-4 mt-4 creator-card">
                <div class="card frosted-card -white"  style="display:flex;  flex-wrap : wrap">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5itV94ybzt7hx7-ge1RcY1BOpwgDhTijDsA&usqp=CAU" alt="Card image cap">
                        <div id="card-body" class="card-body">
                            <h5 class="card-title ">Ian Schoonover</h5>
                            <p class="card-">Senior Web Developer, Instructor</p>
                            <a href="/aboutUs/creator" class="btn btn-outline-info">View More</a>
                        </div>
              </div>
            
            </div>
            <div class="col-lg-4 mt-4 creator-card">
                <div class="card frosted-card -white"  style="display:flex;  flex-wrap : wrap">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5itV94ybzt7hx7-ge1RcY1BOpwgDhTijDsA&usqp=CAU" alt="Card image cap">
                        <div id="card-body" class="card-body">
                            <h5 class="card-title ">Himanshu Singh</h5>
                            <p class="card-">Senior Web Developer, Instructor</p>
                            <a href="/aboutUs/creator" class="btn btn-outline-info">View More</a>
                        </div>
              </div>
            
            </div>
            
   
    </div> -->
    <div class="container">
        <div class="">
            <h4>Why only YelpCamp?
            </h4>
            <p>Here we have answer to this question! If you are a beginner then
                <Strong>
                    YelpCamp
                </Strong>
                is a platform where people who love Camping and Travelling suggest you some Campgrounds located all over the world!
                If you also love Travelling and Camping then this is the site for you! you can visit page <strong>"/campgrounds"</strong>
                For more instrucution keep scrolling.
            </p>
        </div>
            <div class="">
                <h4>What are the features!</h4>
                <p>Following features are still under development process(Not fully optimised yet):
                    <ol> 
                        <li>User Auth :</li>
                        <p>You can only use these Features if you are a member of  
                            <Strong>
                                YelpCamp
                            </Strong> 
                                .you can click to Navbar's Login link for Logging in if alredy signed up. if not then go and Sign up on Navbar's Sign up link .
                        </p>
                        <li>Adding Campground :</li>
                        <p>You can Add campgrounds to our site. Each Campground consist of data like > Campground.name, > Campground.image/img, > Campground.price, > Campground.Description. 
                            All data is necessary. You cannot leave any of them blank it will confuse our users.
                            Make sure Campground.image/img is clicked by you. You must upload your own picture else it will go against our Community Guidelines.
                            If Campground which you are uploading is free then you can left the > Campground.Price blank it will automatically consider it as free.
                        </p>
                        <li>Editing Campground :</li>
                        <p> Now You can edit Campground you previously uploaded! you can change it's image, Description, and more with just one-click. Only Users who are the owners of the individual campground can Edit it others can't. Don't dare to do it using Routing.Edition it will not work.</p>
                        <li>Sign up :</li>
                        <p>User can create Account on Navbar's Sign Up link.</p>
                        <li>Log in :</li>
                        <p>You can log in with your Account you have created on Sign Up page. By clicking on Navbar's link "Login" and entering the credentials you entered on Sign Up page.</p>
                        <li>Log out :</li>
                        <p>you can log out wiht your Id you just logged in with. by clicking Navbar's Log out link.</p>
                        <li>Adding Comments :</li>
                        <p>You can add comment to an Campground with your account.</p>
                        <li>Editing Comments :</li>
                        <p>Now you can edit Comments added by your Id. Once more you cannot apply route.edition.</p>
                    </ol>
                </p>
                <h4>New features coming soon?</h4>
                <p>The answer is yes!! following features are coming :</p>
                <ol>
                    <li>Campground's location using Google Maps:</li>
                    <p>We are going to add a new feature very soon called "Google Maps" to our Campground's data for it's location.
                    Owner can Add location of Campground to the map via Google's API. 
                    </p>
                    <li>In-app notifiction :</li>
                    <p>This feature will work when an owner edits his/her Campground/Comments and etc. You will get an notification related to that many more. We will be updating our Docs as soon as it comes!</p>
                    <li>Fuzzy Search :</li>
                    <p>Adding a Search in the Navbar to search for a specific Campground you want to Consider about.</p>
                    <li>User Profiles :</li>
                    <p>Yeah! you can make your User Profile incuding Profile Picture, Name, and About etc.</p>
                    <li>Image Upload :</li>
                    <p>By the way While making a new Campground you see there "Enter Image Url" that is beacuse we did't have an feature to upload image directly to our DataBase. So we are including this Feature which remove this and replace with Direct upload of image to the Database.</p>
                    <li>Display time since post was created :</li>
                    <p>When you add a Comment or Campground there will be default Display time when was that post/Comment really created. Example (10 days ago)</p>
                    <li>Password reset :</li>
                    <p>Obviously, Many of our user will forget there Password. Soon we will be adding Pasword reset function.</p>
                    <li>Payment for Campground :</li>
                    <p>This feature will give us ability to Pay the owner for it's Campground's Cost.</p>
                </ol>
            </div>
            
        </div>
        
    </div>
    
<%- include ("./partials/footer") %>
