<%- include ("./partials/header") %>

<!-- <h1 class="text">Sign Up</h1>

<form action="/register" method="POST">
    <input type="username" placeholder="Username" name="username" required>
    <input type="password" placeholder="password" name="password" required>
    <button>Register</button>
</form> -->



<div class="limiter">
    <!-- <div class="container "> -->
        <div class="container-login100">
            <div class="wrap-login" style="background-color: #c7c7c7;">
                <!-- <div style="width: 30%; margin: 25px auto;"> -->
                    <span class="login100-form-logo">
                        <i class="fas fa-fire"></i>
					</span>
                    
                    <form class="login-form" autocomplete="off" action="/register" method="POST">
                        <span id="span" class="login100-form-title p-b-34 p-t-27">
                            Sign Up
                        </span>  
                        <div class="wrap-input100 validate-input">
                            <input class=" input100" type="username" placeholder="Enter Username" name="username" required>
                            <span class="focus-input100">
                                <i class="fas fa-user-plus"></i>
                            </span>
                        </div>
                    
                        <div class="wrap-input100 validate-input" >
                            <input class=" input100" type="password" placeholder="Enter Password" name="password" srequired>
                            <span class="focus-input100">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class=" btn-log btn-lg  btn btn-success " style="font-size: larger;">Create User</button>
                        </div>
                    </form>
                    
            
                    
            
                <!-- </div> -->
            </div>
        </div>
<%- include ("./partials/footer") %>
